*{
    margin: 0;
    padding: 0;
}

header{
    background-color: orange;
    padding: 20px;
}
.tete{
    text-align: center;
    color: white;
    font-size: 20px;
}
.lien{
    display: flex;
    flex-direction: row;
    padding: 10px;  
    justify-content: center; 
    gap: 50px; 
    background-color: rgb(196, 192, 192);
}
.lien a{
    text-decoration: none;
    border: 1px solid black;
    color: orange;
    padding: 10px;
    background-color: white;
    width: 150px;
    font-size: 20px;
    text-align: center;
}

.parti{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: gray;
    padding: 20px;
}

.ima1{
    width: 400px;
    height: 450px;
    padding: 10px;
    background-color: white;
}
.ima1 img{
    width: 380px;
    padding: 10px;

}
.text1{
    padding: 20px;
    text-align: center;
    font-size: 17px;
}
.button1{
    padding: 45px;
    text-align: center;
}
.button1 button{
    padding: 10px;
    width: 300px;
    background-color: rgb(204, 199, 199);
    border: 1px solid;

}



.ima2{
    width: 400px;
    height: 450px;
    background-color: white;
    padding: 10px;
}
.ima2 img{
    width: 380px;
    padding: 10px;
    height: 250px;

}
.text2{
    padding: 20px;
    text-align: center;
    font-size: 17px;
}
.button2{
    padding: 50px;
    text-align: center;
}
.button2 button{
    padding: 10px;
    width: 300px;
    background-color: rgb(204, 199, 199);
    border: 1px solid;

}


.ima3{
    width: 400px;
    height: 470px;
    background-color: white;
}
.ima3 img{
    width: 380px;
    padding: 10px;
    height: 250px;

}
.text3{
    padding: 10px;
    text-align: center;
    font-size: 17px;
}
.button3{
    padding: 40px;
    text-align: center;
}
.button3 button{
    padding: 10px;
    width: 300px;
    background-color: rgb(204, 199, 199);
    border: 1px solid;

}


footer{
    background-color: orange;
    padding: 20px;
}
footer h5{
    text-align: center;
    font-size: 20px;
    color: white;
}


@media screen and (max-width:1300px) {
    .tout2{
        display: flex;
        flex-direction: column-reverse;
    }
    .tete{
        font-size: 15px;
    }
    .lien{
        display: flex;
        padding: 10px;  
        justify-content: center; 
        gap: 5px; 
    }
  .parti{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
  }
  .ima1{
    width: 400px;
    height: 450px;
    padding: 10px;
}

.ima1 img{
    width: 350px;
    padding: 10px;

}
.ima2{
    width: 400px;
    height: 450px;
    padding: 10px;
}
.ima2 img{
    width: 380px;
    padding: 10px;
    height: 200px;

}
.ima3{
    width: 420px;
    height: 470px;
}
.ima3 img{
    width: 380px;
    padding: 10px;
    height: 200px;


}
}